body {
    background-image: url(../images/italy_big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: white;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 10px 10px 10px 10px;
}

#me {
    float: left;
    padding: 10px 10px 10px 5px;
}

p {
    padding: 5px 10px;
}

#comments {
    height: 600px;
    padding-bottom: 10px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.holder {
    margin: 15px 15px 15px 15px;
    height: 300px;
    width: 300px;
    float: left;
}

#contact {
    padding-left: 10px;
}

#portfolio {
    padding-left: 10px;
}

.linkedIn {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}